<%- include("../includes/web_header.ejs") %>
<section class="section clone about-main">
    <div class="container">
        <div class="row items-gap align-items-center">
            <div class="col-12 col-lg-6">
                <div class="about__thumb wow fadeInLeft" data-wow-duration="600ms" data-wow-delay="300ms">
                    <img src="web/images/about-thumb.png" alt="Image">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="clone__content section__content">
                  <h2 class="h2 wow fadeInUp">Intel-Bot</h2>
                  <div class="paragraph wow fadeInUp" data-wow-duration="600ms">
                    <p class="fw-5 text-lg">
                        Our technology enables us to scrape your website and produce a unique machine learning model based on the content of your website, creating a chatbot that you can use for lead generation, sales assistance, and customer support, among other things.
                    </p>
                    <p>
                        Our technology enables you to upload PDF files, XML files, YAML files, and CSV files in addition to scraping your website, so you end up with an original, one-of-a-kind product.

                        Intel-Bot responds to queries in the manner that you choose.
                        Additionally, our chatbots have SMS, WhatsApp, and Messenger integrations.
                    </p>
                  </div>
                  <ul class="wow fadeInUp">
                    <li>
                      <i class="fa-solid fa-check"></i>
                      high-quality website scraping
                    </li>
                    <li>
                      <i class="fa-solid fa-check"></i>
                      RTL assistance
                    </li>
                    <li>
                      <i class="fa-solid fa-check"></i>
                      Theme assistance
                    </li>
                    <li>
                      <i class="fa-solid fa-check"></i>
                      Customised chatbot
                    </li>
                    <li>
                      <i class="fa-solid fa-check"></i>
                      transferring files
                    </li>
                    <li>
                      <i class="fa-solid fa-check"></i>
                      comprehends and communicates in any language
                    </li>
                    <li>
                      <i class="fa-solid fa-check"></i>
                      SMS, WhatsApp, and Messenger integration
                    </li>
                  </ul>
                  <div
                    class="section__content-cta wow fadeInUp"
                    data-wow-duration="600ms"
                  >
                    <a href="contact-us.html" class="btn btn--tertiary">
                      request A Demo
                    </a>
                    <a href="about-us.html" class="btn btn--quaternary">
                      About Us
                    </a>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row items-gap align-items-center">
            <div class="col-12 col-lg-6">
                <div class="clone__content section__content wow fadeInUp" data-wow-duration="600ms" data-wow-delay="600ms">
                    <h2 class="h2">AI Website Search</h2>
                    <div class="paragraph">
                        <p class="fw-5 text-lg">
                            Utilising our exclusive technology, you may add "Bing Search" to your own website. Our artificial intelligence website search technology will only display search results from your website, boosting engagement and enabling people to find what they're looking for more quickly.

                        </p>
                        <p>
                            Our solution, which is based on the same platform as Bing / ChatBot Search, enables your users to ask questions that are naturally occurring, such "I need a coffee cup with Einstein," and our technology will locate the pages that most closely match the query.

                        </p>
                    </div>
                    <ul>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            Ask natural language-based questions.

                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            Supports any language
                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            Only shows results from your website
                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            use any website or CMS system

                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            And many more
                        </li>
                    </ul>
                    <div class="tour__content-cta">
                        <div class="trust">
                            <div class="review">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p class="fw-7">Rated Excellent on Trustpilot</p>
                        </div>
                        <div class="action">
                            <a href="contact-us.html" class="btn btn--primary">
                                request A Demo - its free
                            </a
        >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="about__thumb wow fadeInLeft" data-wow-duration="600ms" data-wow-delay="300ms">
                    <img src="web/images/about-thumb.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row items-gap align-items-center">
            <div class="col-12 col-lg-6">
                <div class="about__thumb wow fadeInLeft" data-wow-duration="600ms" data-wow-delay="300ms">
                    <img src="web/images/about-thumb.png" alt="Image">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="clone__content section__content">
                  <h2 class="h2 wow fadeInUp">AI Expert Systems</h2>
                  <div class="paragraph wow fadeInUp" data-wow-duration="600ms">
                    <p class="fw-5 text-lg">
                        You may build a personalised AI Expert System using your own data, including PDF files, webpages, CSV files, and other types of data, thanks to our innovative AI and machine learning technology. This technology can act as a cognitive assistant when used with ChatBot.

                    </p>
                    <p>
                        Legal aid, document searching, data mining, translation services, etc. are a few examples of use cases. Our system is compatible with ChatBot versions 3.5 and 4, as well as all other OpenAI base models.

                    </p>
                  </div>
                  <ul class="wow fadeInUp">
                    <li>
                      <i class="fa-solid fa-check"></i>
                      translation assistance

                    </li>
                    <li>
                      <i class="fa-solid fa-check"></i>
                      the creation of content and marketing

                    </li>
                    <li>
                      <i class="fa-solid fa-check"></i>
                      document analysis

                    </li>
                    <li>
                      <i class="fa-solid fa-check"></i>
                      hiring and human resources

                    </li>
                    <li>
                      <i class="fa-solid fa-check"></i>
                      ChatBot for Customer Support

                    </li>
                    <li>
                      <i class="fa-solid fa-check"></i>
                      And many more
                    </li>
                  </ul>
                  <div
                    class="section__content-cta wow fadeInUp"
                    data-wow-duration="600ms"
                  >
                    <a href="contact-us.html" class="btn btn--tertiary">
                      request A Demo
                    </a>
                    <a href="about-us.html" class="btn btn--quaternary">
                      About Us
                    </a>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row items-gap align-items-center">
            <div class="col-12 col-lg-6">
                <div class="clone__content section__content wow fadeInUp" data-wow-duration="600ms" data-wow-delay="600ms">
                    <h2 class="h2">Have ChatBot say what you want</h2>
                    <div class="paragraph">
                        <p class="fw-5 text-lg">
                            Utilising our exclusive technology, you may add "Bing Search" to your own website. Our artificial intelligence website search technology will only display search results from your website, boosting engagement and enabling people to find what they're looking for more quickly.

                        </p>
                        <p>
                            Our solution, which is based on the same platform as Bing / ChatBot Search, enables your users to ask questions that are naturally occurring, such "I need a coffee cup with Einstein," and our technology will locate the pages that most closely match the query.

                        </p>
                    </div>
                    <ul>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            Phrase your queries as natural language
                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            Supports any language
                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            Only shows results from your website
                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            Works with any website or CMS system
                        </li>
                        <li>
                            <i class="fa-solid fa-check"></i>
                            And many more
                        </li>
                    </ul>
                    <div class="tour__content-cta">
                        <div class="trust">
                            <div class="review">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p class="fw-7">Rated Excellent on Trustpilot</p>
                        </div>
                        <div class="action">
                            <a href="contact-us.html" class="btn btn--primary">
                                request A Demo - its free
                            </a
        >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="about__thumb wow fadeInLeft" data-wow-duration="600ms" data-wow-delay="300ms">
                    <img src="web/images/about-thumb.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section faq  pb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6">
                <div class="section__header wow fadeInUp" data-wow-duration="600ms" data-wow-delay="300ms">
                    <h2 class="h2">frequently ask questions</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <div class="accordion" id="accordion">
                    <div class="accordion-item wow fadeInUp" data-wow-duration="600ms" data-wow-delay="600ms">
                        <h5 class="accordion-header" id="headingOne">
                            <button
                                class="accordion-button"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne"
                            >
                                What is ChatBot?
                            </button>
                        </h5>
                        <div
                            id="collapseOne"
                            class="accordion-collapse collapse show"
                            aria-labelledby="headingOne"
                            data-bs-parent="#accordion"
                        >
                            <div class="accordion-body">
                                <p>
                                    analyses the speaker's face and gaze during a video
            conversation to maintain eye contact before changing the
            camera position. io at a later time. Clear, consistent,
            and professional voices for marketing, explainer,
            product, and YouTube videos.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item wow fadeInUp" data-wow-duration="600ms" data-wow-delay="900ms">
                        <h5 class="accordion-header" id="headingTwo">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo"
                                aria-expanded="false"
                                aria-controls="collapseTwo"
                            >
                                How is Chatsonic different from ChatBot by Open AI?
                            </button>
                        </h5>
                        <div
                            id="collapseTwo"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingTwo"
                            data-bs-parent="#accordion"
                        >
                            <div class="accordion-body">
                                <p>
                                    analyses the speaker's face and gaze during a video
            conversation to maintain eye contact before changing the
            camera position. io at a later time. Clear, consistent,
            and professional voices for marketing, explainer,
            product, and YouTube videos.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item content__space wow fadeInUp" data-wow-duration="600ms" data-wow-delay="1200ms">
                        <h5 class="accordion-header" id="headingThree">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseThree"
                                aria-expanded="false"
                                aria-controls="collapseThree"
                            >
                                What format are the files in?
                            </button>
                        </h5>
                        <div
                            id="collapseThree"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingThree"
                            data-bs-parent="#accordion"
                        >
                            <div class="accordion-body">
                                <p>
                                    analyses the speaker's face and gaze during a video
            conversation to maintain eye contact before changing the
            camera position. io at a later time. Clear, consistent,
            and professional voices for marketing, explainer,
            product, and YouTube videos.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item content__space wow fadeInUp" data-wow-duration="600ms" data-wow-delay="1500ms">
                        <h5 class="accordion-header" id="headingFour">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseFour"
                                aria-expanded="false"
                                aria-controls="collapseFour"
                            >
                                What is ChatBot used for?
                            </button>
                        </h5>
                        <div
                            id="collapseFour"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingFour"
                            data-bs-parent="#accordion"
                        >
                            <div class="accordion-body">
                                <p>
                                    analyses the speaker's face and gaze during a video
            conversation to maintain eye contact before changing the
            camera position. io at a later time. Clear, consistent,
            and professional voices for marketing, explainer,
            product, and YouTube videos.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item content__space wow fadeInUp" data-wow-duration="600ms" data-wow-delay="1500ms">
                        <h5 class="accordion-header" id="headingFive">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseFive"
                                aria-expanded="false"
                                aria-controls="collapseFive"
                            >
                                How can I support this site?
                            </button>
                        </h5>
                        <div
                            id="collapseFive"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingFive"
                            data-bs-parent="#accordion"
                        >
                            <div class="accordion-body">
                                <p>
                                    analyses the speaker's face and gaze during a video
            conversation to maintain eye contact before changing the
            camera position. io at a later time. Clear, consistent,
            and professional voices for marketing, explainer,
            product, and YouTube videos.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==== / faq end ==== -->
<!-- ==== review start ==== -->
<section class="section review  pb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8">
                <div class="section__header wow fadeInUp" data-wow-duration="600ms" data-wow-delay="300ms">
                    <h2 class="h2">our Customer Reviews</h2>
                </div>
            </div>
        </div>
        <div class="row items-gap">
            <div class="col-12 col-lg-6">
                <div class="review__single wow fadeInUp" data-wow-duration="600ms">
                    <div class="review-head">
                        <div class="review__icons">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <img src="web/images/review/icon-one.png" alt="Image">
                    </div>
                    <div class="review-content">
                        <p class="fw-7">
                            tech ai saves us thousands of dollars a week. We create
        content briefs and write 50-100 unique SEO-driven pieces per
        month. With tech.ai, we now craft briefs, outlines, and full
        first.
                        </p>
                    </div>
                    <div class="review-meta">
                        <div class="thumb">
                            <img src="web/images/review/one.png" alt="Image">
                        </div>
                        <div class="content">
                            <p class="h6">Rex A. Munoz</p>
                            <p>CEO, uSERP</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="review__single wow fadeInUp" data-wow-duration="600ms" data-wow-delay="200ms">
                    <div class="review-head">
                        <div class="review__icons">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <img src="web/images/review/icon-two.png" alt="Image">
                    </div>
                    <div class="review-content">
                        <p class="fw-7">
                            tech ai saves us thousands of dollars a week. We create
        content briefs and write 50-100 unique SEO-driven pieces per
        month. With tech.ai, we now craft briefs, outlines, and full
        first.
                        </p>
                    </div>
                    <div class="review-meta">
                        <div class="thumb">
                            <img src="web/images/review/two.png" alt="Image">
                        </div>
                        <div class="content">
                            <p class="h6">Nicholas Natteau</p>
                            <p>CEO, uSERP</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="review__single wow fadeInUp" data-wow-duration="600ms" data-wow-delay="400ms">
                    <div class="review-head">
                        <div class="review__icons">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <img src="web/images/review/icon-three.png" alt="Image">
                    </div>
                    <div class="review-content">
                        <p class="fw-7">
                            tech ai saves us thousands of dollars a week. We create
        content briefs and write 50-100 unique SEO-driven pieces per
        month. With tech.ai, we now craft briefs, outlines, and full
        first.
                        </p>
                    </div>
                    <div class="review-meta">
                        <div class="thumb">
                            <img src="web/images/review/two.png" alt="Image">
                        </div>
                        <div class="content">
                            <p class="h6">Jeremy Moser</p>
                            <p>CEO, uSERP</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="review__single wow fadeInUp" data-wow-duration="600ms" data-wow-delay="600ms">
                    <div class="review-head">
                        <div class="review__icons">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <img src="web/images/review/icon-one.png" alt="Image">
                    </div>
                    <div class="review-content">
                        <p class="fw-7">
                            tech ai saves us thousands of dollars a week. We create
        content briefs and write 50-100 unique SEO-driven pieces per
        month. With tech.ai, we now craft briefs, outlines, and full
        first.
                        </p>
                    </div>
                    <div class="review-meta">
                        <div class="thumb">
                            <img src="web/images/review/three.png" alt="Image">
                        </div>
                        <div class="content">
                            <p class="h6">Angela R. Nolan</p>
                            <p>CEO, uSERP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==== / review end ==== -->
<!-- ==== update cta start ==== -->
<section class="section update-cta pb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div
                    class="update-cta__inner bg-img wow fadeInUp"
                    data-wow-duration="600ms"
                    data-wow-delay="300ms"
                    data-background="web/images/update-cta-bg.png"
                >
                    <div class="section__header">
                        <h2 class="h2 text-white">Get updates</h2>
                        <p>
                            Sign up to our newsletter to receive information about new
        products, special offers and updates.
                        </p>
                    </div>
                    <form action="#" method="post">
                        <div class="mail-group-two">
                            <input
                                type="email"
                                name="subscribe-news-two"
                                id="subscribeNewsTwo"
                                placeholder="enter your email"
                                required
                            >
                            <button type="submit" aria-label="subscribe to our newsletter" class="btn btn--nonary">
                                <span>join now</span>
                                <i class="fa-regular fa-paper-plane"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==== / update cta end ==== -->
<!-- ==== footer start ==== -->
<%- include("../includes/web_footer.ejs") %>